<%-include("common/message.ejs", {message: message})%>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap table-auto">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="p-4">id</th>
          <th class="p-4">description</th>
          <th class="p-4">environment</th>
          <th class="p-4">created</th>
          <th class="p-4">updated</th>
          <th class="p-4">by</th>
          <th class="p-4">status</th>
          <th class="p-4">URL</th>
          <th class="p-4">action</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <%deployments.forEach(deployment => {%> <% if(deployment.id.toString()
        === deploymentId) {%> <%deployment.status.forEach(status => {%>
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="p-4">
            <p class="text-gray-900 whitespace-no-wrap"><%=status.id%></p>
          </td>
          <td class="p-4">
            <p class="whitespace-no-wrap text-gray-500 text-sm italic">
              <%=status.description || "No description provided"%>
            </p>
          </td>
          <td class="p-4">
            <p class="text-gray-900 whitespace-no-wrap">
              <%=status.environment%>
            </p>
          </td>
          <td class="p-4">
            <p
              class="text-gray-900 whitespace-no-wrap"
              title="<%=helpers.humanReadable(status.created_at);%>"
            >
              <%=helpers.timeAgo(status.created_at);%>
            </p>
          </td>
          <td class="p-4">
            <p
              class="text-gray-900 whitespace-no-wrap"
              title="<%=helpers.humanReadable(status.updated_at);%>"
            >
              <%=helpers.timeAgo(status.updated_at);%>
            </p>
          </td>
          <td class="p-4">
            <p class="text-gray-900 whitespace-no-wrap">
              <a
                class="text-blue-500 hover:text-blue-800 focus:text-blue-800"
                href="<%=deployment.creator.html_url%>"
                ><%=deployment.creator.login%></a
              >
            </p>
          </td>
          <td class="p-4">
            <%if(status.state ==="success") {%>
            <p
              class="py-1 whitespace-no-wrap no-underline rounded-full font-semibold text-sm text-center text-white bg-green-500 border-green-500"
            >
              <%} else if(status.state ==="pending") {%>
            </p>

            <p
              class="py-1 whitespace-no-wrap no-underline rounded-full font-semibold text-sm text-center text-white bg-orange-500 border-orange-500"
            >
              <%} else if(status.state ==="failed") {%>
            </p>

            <p
              class="py-1 whitespace-no-wrap no-underline rounded-full font-semibold text-sm text-center text-white bg-red-500 border-red-500"
            >
              <%} else if(status.state ==="pending") {%>
            </p>

            <p
              class="py-1 whitespace-no-wrap no-underline rounded-full font-semibold text-sm text-center text-white bg-gray-500 border-gray-500"
            >
              <%}%> <%=status.state%>
            </p>
          </td>
          <td class="p-4 text-center">
            <a
              class="text-blue-500 hover:text-blue-800 focus:text-blue-800"
              href="<%=status.target_url%>"
              title="Link to deployment"
              >Link</a
            >
          </td>
          <td class="p-4 text-center">
            <a
              class="text-blue-500 hover:text-blue-800 focus:text-blue-800"
              href="<%=status.target_url%>"
              title="Delete deployment"
              >Delete</a
            >
          </td>
        </tr>
        <%});%> <%}%> <%});%>
      </tbody>
    </table>
  </div>
</div>

<%-include("common/cta.ejs", {
  url:`/environments/${repoId}`,
  title:"Go back to environments",
  text:"back to environments" }
)%>
