<nav class="bg-gray-900">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div
        class="flex items-center justify-center sm:items-stretch sm:justify-start"
      >
        <a
          class="text-white font-semibold flex w-auto leading-8"
          href="/"
          title="Github Environment Manager"
        >
          Github Environment Manager
        </a>
      </div>
      <% if(typeof user === "undefined" || user === null) { %>
      <a
        class="flex rounded-lg border-2 border-white font-semibold py-1 px-4 leading-8 text-white hover:bg-gray-800"
        href="/authenticate"
        >Sign In</a
      >
      <% } else if(typeof user !== "undefined" && user !== null) { %>
      <div
        class="absolute inset-y-0 right-0 flex items-center sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <div class="w-16 relative">
          <label
            for="menu-toggle"
            class="block flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white"
          >
            <img
              class="cursor-pointer h-8 w-8 ml-3 rounded-full"
              src="<%=user.avatar%>"
              alt="<%=user.name%>"
            />
            <div
              class="hover:cursor-pointer absolute inset-y-0 right-0 flex items-center text-white"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </label>
          <input class="hidden" type="checkbox" id="menu-toggle" />

          <div
            class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg"
          >
            <div
              class="hidden py-1 rounded-md bg-white shadow-xs"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu"
              id="menu"
            >
              <a
                href="<%=user.profile%>"
                class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                role="menuitem"
                title="Signed in as <%=user.login%>"
              >
                Signed in as <span class="font-bold"><%=user.login%></span>
              </a>
              <a
                href="/authenticate/logout"
                class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                role="menuitem"
                title="Sign out"
                >Sign out</a
              >
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</nav>
<% if(typeof user !== "undefined" && user !== null) {  %>
<script type="text/javascript">
  (function () {
    const menuElement = document.getElementById("menu");
    const menuToggle = document.getElementById("menu-toggle");
    menuToggle.addEventListener("click", () => {
      menuElement.classList.toggle("hidden");
    });
  })();
</script>
<% } %>
